* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

/* Header  and  navigation style */
.header {
    background-color: aqua;
    background-image: url(/images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding-top: 30px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}


.text-primary {
    color: #3fad6d;
    text-size-adjust: 20px;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background-color: #3fad6d;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}

/* Banner Styles */
.banner {
    display: flex;
    margin: 0 0 0 200px;
    align-items: center;


}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 5px;
}

.sub-banner-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-description {
    color: #703d0c;
    font-size: 25px;
    margin-bottom: 30px;
    align-items: left;
}

/* main section */
.main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style */
.about {
    margin-top: 50px;
    background: #d0f5dc;
    border-radius: 10px;
    padding: 150px 130px;
    text-align: center;

}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700px;
    font-size: 35px;
}

.section-description {
    text-align: center;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    color: #9ba4e3;
}

.info-description {
    font-size: 20px;
    color: #05081f;
}

/* What i do styles */
.what-i-do {
    margin-top: 130px;
    

}

.What-i-do-p {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 20px;
    width: 909px;
    height: 90px;
    text-align: center;
    padding-left: 100px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px 30px 30px 30px;
}

.section-sub-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700px;
    font-size: 35px;
    margin-top: 100px;
}

.skill-container {
    display: flex;
    gap: 10px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
/* Resume styles */
.resume-content{
display: flex;
}
